jupyterlab==4.2.5
jupyterlab_server==2.27.2
jupyter_server==2.14.2
notebook_shim>=0.2.4
numpy
pandas
pyarrow
scikit-learn
tpot
tqdm
# ↓ ensure compatibility with Python 3.8
multitasking==0.0.11
yfinance<=0.2.40
vaderSentiment
dask[distributed]
httpx==0.27.2