site_name: Data605 Book
site_url: https://gpsaggese.github.io/umd_classes/data605_book

theme:
  name: material
  palette:
    primary: black
    accent: cyan
  logo: assets/logo.png
  favicon: assets/favicon.ico
  features:
    - content.action.edit

# CRITICAL: Must point to preprocessed content
docs_dir: tmp.mkdocs

# Helps render images and other assets correctly
use_directory_urls: false

# Plugins
plugins:
  - search

# Markdown extensions
markdown_extensions:
  - toc:
      permalink: "#"
      baselevel: 2
      separator: "_"
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format

# Custom CSS
extra_css:
  - styles/styles.css